# Who Listens to What? An Exploratory Analysis of Music Preferences

In the world of music streaming, data tells a story. This project dives into a dataset of music listening habits from two cities, Springfield and Shelbyville, to uncover the hidden narratives within their playlists. The primary goal is to perform a comprehensive analysis to understand, compare, and contrast the musical preferences of their residents.

We will answer key questions such as:

What are the most popular genres in each city?

Do listening habits change on different days of the week?

How do the overall music tastes of the two cities truly differ?

This notebook will walk through the entire data analysis process, starting with crucial data cleaning and preprocessing, moving into exploratory data analysis (EDA) with visualizations, and finally, performing hypothesis testing to validate our observations.

Tools Used: Python, Pandas, Matplotlib, and Seaborn.

## Step 1: Initial Data Inspection

Before we do anything else, it's important to load and inspect the data to get a clear picture of what we're working with. This helps us confirm column names, find potential issues, and understand the data types.

In [1]:
# Load and inspect the dataset
import pandas as pd

# Load the CSV file
df = pd.read_csv('data/music_project_en (1).csv')

# Display the first few rows
df.head()

,userID,Track,artist,genre,City,time,Day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Shelbyville,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas Rönnberg,rock,Springfield,14:07:09,Friday
2,20EC38,Funiculì funiculà,Mario Lanza,pop,Shelbyville,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Shelbyville,08:37:09,Monday
4,E2DC1FAE,Soul People,Space Echo,dance,Springfield,08:34:34,Monday